[Desktop Entry]
Type=Application
Name=Asustor ACC for Linux
Comment=Discover and manage ASUSTOR NAS devices on the local network
Exec=acc-gui
Icon=io.github.moringa303.AsustorAcc
Terminal=false
Categories=Network;Utility;
Keywords=ASUSTOR;NAS;ADM;Control Center;discovery;wake on lan;
StartupWMClass=acc-gui
